@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

.custom-grid{
  grid-template-columns: 1fr 2fr;
}

.noDisplay{
  display: none;
}
/* ⚠️ CSS optimized for the tutorial, not for expanding to a larger site. ⚠️ */

